.classroom-card-0 {
    background-color: #F3E9FF;
}
.classroom-card-0 .classroom-card-title {
   color: #5E3078;
}

.classroom-card-1 {
   background-color: #DCEEFC;
}
.classroom-card-1 .classroom-card-title {
   color: #536978;
}

.classroom-card-2 {
   background-color: #F0FAF5;
}
.classroom-card-2 .classroom-card-title {
   color: #2F5946;
}

