.learning-journal-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
}

.learning-journal {
  /* max-width: 1533px; */
  padding: 15vh 2vw 5vh 2vw;
  background-color: #f5f5f56c;
}

.learning-journal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.learning-journal-headerr {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.learning-journal-title-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learning-journal-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0; 
}
.learning-journal-titles{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}
.learning-journal-tabs {
  display: flex;
}

.learning-journal-tab {
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.learning-journal-tab.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.learning-journal-tab.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.learning-journal-tab.active {
  background-color: #2CB9E2;
  color: white;
}

.learning-journal-tab.inactive {
  background-color: white;
  color: #2CB9E2;
  border: 1px solid #2CB9E2;
}

.learning-journal-week-selector {
  position: relative;
}

.learning-journal-week-selector select {
  background-color: #2CB9E2;
  color:#ffffff;
  appearance: none;
  border-radius: 25px;
  padding: 10px 35px 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}
.learning-journal-week-selector option {
  background-color: white; 
  color: black;  
  border: 1px solid black;         
}

.learning-journal-week-selector option:hover {
  color:#ffffff;
}

.learning-journal-week-selector:hover select {
  background-color: #71d4f0;
  transform: scale(1.05);
  transition: all 0.3s 0s ease-in-out;
}

.learning-journal-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.learning-journal-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.learning-journal-goals {
  display: flex;
  gap: 10px;
  color: white;
}

.learning-journal-goal {
  flex: 1;
  background-color: #2CB9E2;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.learning-journal-table-container {
  overflow-x: auto;
}

.learning-journal-table {
  display: flex;
  flex-direction: column;
}

.learning-journal-row {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.learning-journal-cell {
  flex: 1;
  padding: 10px;
  text-align: center;
  word-break: break-word;
  font-size: 14px;
  border: 1px solid #ccc;

}

.learning-journal-cell.header {
  background-color: #DCEEFC;
  font-weight: 600;
  white-space: pre-wrap;
}
.learning-journal-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.learning-journal-submit-btn {
  background-color: #2CB9E2;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.learning-journal-goal-content{
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(241, 234, 234, 0.863);
  padding: 10px 30px;
  border-radius: 10px;
  margin: 35px 0 35px 0;
  background-color: white;
}

.learning-journal-goal-section{
  max-width: 100%;
  padding: 10px 60px;
}

.learning-journal-table .learning-journal-row:not(.header-row):last-of-type {
  padding-bottom: 30px;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: #ffffff;
  border-color: #ffffff;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: 10px;
  height: 20px;
  border: solid #FE9A3B;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.learning-journal-cell input, textarea {
  outline: none;
}

.learning-journal-cell input[type="date"] {
  width: 80% !important;
}